doctype html
html
  head
    title Sketch
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Free multi-user tool for producing entity relationship diagrams")
    meta(name="keywords", content="ERD entity relationship diagram draw create multi user free")
    meta(name="author", content="Damian Hobson erdsketch@gmail.com")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='/css/materialize.min.css', rel='stylesheet' media='screen,projection')
    link(href='/css/style_dev.css', rel='stylesheet')
  body
    ul#dropdown_file.dropdown-content
      li
        a#save(href="#") Save
      li
        a#open(href="#") Open
      li
        a#new(href="#") New
      li
        a#reset.tooltipped(href="#", data-tooltip="This clears the contents!") Delete Contents
      li
        a#delete.tooltipped(href="#", data-tooltip="This deletes the diagram!") Delete File
    nav
      div.nav-wrapper.indigo
        a.brand-logo.center(href="#!")
          img#logo(src="/images/logo.png", style="margin:auto 0")
        a.button-collapse(href="#", data-activates="mobile-menu")
          i.material-icons menu
        ul.left.hide-on-med-and-down
          li
            a.dropdown-button(href="#", data-activates="dropdown_file") File
          li
            a#share.tooltipped(href="#", data-position="bottom", data-delay="50", data-tooltip="Invite someone to work on the diagram.") Share
          li
            a#downloadPNG.tooltipped(href="#",data-position="bottom", data-delay="50", data-tooltip="Export the diagram as a png image.") Export
          li
            a#logout.tooltipped(href="#",data-position="bottom", data-delay="50", data-tooltip="Logout of ERD Sketch.") Logout
        ul#mobile-menu.side-nav
          li
            a#save(href="#") Save
          li
            a#open(href="#") Open
          li
            a#new(href="#") New
          li
            a#reset.tooltipped(href="#", data-tooltip="This clears the contents!") Delete Contents
          li
            a#delete.tooltipped(href="#", data-tooltip="This deletes the diagram!") Delete File
          li
            a#share.tooltipped(href="#", data-position="bottom", data-delay="50", data-tooltip="Invite someone to work on the diagram.") Share
          li
            a#downloadPNG.tooltipped(href="#",data-position="bottom", data-delay="50", data-tooltip="Export the diagram as a png image.") Export
          li
            a#logout.tooltipped(href="#",data-position="bottom", data-delay="50", data-tooltip="Logout of ERD Sketch.") Logout
   div.row.set_height
     div.col.s2.teal.lighten-2.set_height
       ul#info.collection(style="border-radius:10px")
         li#filename.collection-item
           span.label Diagram Name
           input.tooltipped(id="erd_name", type="text", name="name", value='#{erd_name}',data-position="bottom", data-delay="50", data-tooltip="Change the name of the diagram here.")
         li#selection.collection-item
           img#deleteSelection.selectionObject.tooltipped(src="/images/delete.svg", data-position="bottom", data-delay="50", data-tooltip="Click to delete selection.")
           img#selectAll.selectionObject.tooltipped(src="/images/select_all.svg", data-position="bottom", data-delay="50", data-tooltip="Select All.")
           img#selectNone.selectionObject.tooltipped(src="/images/select_none.svg", data-position="bottom", data-delay="50", data-tooltip="Select None.")
         li#toolbox.collection-item(style="text-align:justify")
           img#addTable.toolObject.responsive-img.tooltipped(src="/images/add_table.svg", draggable="true", data-position="bottom", data-delay="50", data-tooltip="Click to add an entity.")
           img#addCircle.toolObject.responsive-img.tooltipped(src="/images/ellipse.svg", draggable="true", data-position="bottom", data-delay="50", data-tooltip="Click to add an ellipse.")
           img#addRectangle.toolObject.responsive-img.tooltipped(src="/images/rectangle.svg", draggable="true", data-position="bottom", data-delay="50", data-tooltip="Click to add a rectangle.")
           img#addDiamond.toolObject.responsive-img.tooltipped(src="/images/diamond.svg", draggable="true", data-position="bottom", data-delay="50", data-tooltip="Click to add a diamond.")
           img#addTextBox.toolObject.responsive-img.tooltipped(src="/images/text_box.svg", data-position="bottom", data-delay="50", data-tooltip="Click to add a text box.")
           img#addLine.toolObject.responsive-img.tooltipped(src="/images/line.svg", data-position="bottom", data-delay="50", data-tooltip="Click to add a line.")
           span.stretch
         li.collection-item
           div#linkEnds.tooltipped(data-position="bottom", data-delay="50", data-tooltip="Change the default table link end.")
         li.collection-item
           div#colorPalette.tooltipped(data-position="bottom", data-delay="50", data-tooltip="Change the default table color.")
     div#erd.col.s8.set_height
     div.col.s2.teal.lighten-2.set_height
       ul#users.collection.with-header(style="border-radius:10px")
         li.collection-item.header Users
         li.user.collection-item.avatar
           i.tiny.material-icons.circle.indigo perm_identity
           p #{username}
       ul#chat.collection.with-header(style="border-radius:10px")
         li#chat_header.collection-item.header Chat
         li#chat_input.collection-item.avatar.tooltipped(style=("padding-left:0;") data-position="bottom", data-delay="50", data-tooltip="Create an account to use the chat feature.")
           .input-field
             i.small.material-icons.prefix chat_bubble_outline
             input#chat_input_text.autocomplete(type="text")
             label#chat_input_label(for="chat_input_text") Chat
         li.collection-item
          #chat_text
   footer.page-footer.indigo
     div.container
       div.row
         div.col.16.12c
           h5.white-text ERD Sketch
           p.grey-text.text-lighten-4 This is a thesis project by Damian Hobson. It is a work in progress.
     div.footer-copyright
       div.container © 2017 Damian Hobson
    div#modal.modal(style="border-radius:10px;")
      div.modal-content
        h4#modal_head Open Diagram
        div#modal_content
          .preloader-wrapper.active
            .spinner-layer.spinner-red-only
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
        div.modal-footer
          button#modal_submit.modal-action.modal-close.waves-effect.waves-green.btn-flat Open
          button.modal-action.modal-close.waves-effect.waves-red.btn-flat Cancel
script.
  username="#{username}";
  erd_name="#{erd_name}";
  erd_id="#{erd_id}";
script(src="/libs/jquery-3.2.0.min.js")
script(src="/libs/jquery.cookie.js")
script(src="/libs/materialize.min.js")
script(src="/libs/d3.min.js")
script(src="/libs/simg.js")
script(src="/js/cloneobj.js")
script(src="/libs/socket.io.js")
script(src="/js/ui_setup.js")
script(src="/js/main.js")
